/* ProductDetails.css */
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 6rem;
    padding: 2rem;
  }
  
  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-image img {
    height: 60%;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
  }
  
  .product-description {
    margin-bottom: 1rem;
  }
  
  .product-price {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1rem;
  }
  
  .add-to-cart {
    background-color: #007bff; /* Bootstrap primary blue */
  }
  
  .store-pickup {
    background-color: #28a745; /* Bootstrap success green */
  }
  
  /* Responsive layout for smaller screens */
  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
  